html {
  background: url("background_final2.png") center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  line-height: 1;
  margin: 50px;
}

div {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
}

.highlight {
  background: rgba(255, 255, 255, .3);
}

div.tableheader {
  font-family: 'Bree Serif', serif;
}

header {
  overflow: clear;
  position: relative;
}

h2 {
  font-family: 'Lobster', sans-serif;
  font-size: 70px;
  color: black;
  margin: 0 0 10px;
  text-align: center;
}

h3 {
  font-family: 'Lobster', sans-serif;
  font-size: 70px;
  color: black;
  margin: 0 0 10px;
  text-align: center;
}

button {
  -webkit-transition-duration: 0.4s; /*For Safari users*/
  font-family: 'Bree Serif', serif;
  background: none;
  border: 2px black solid;
  font-size: 20px;
  transition-duration: 0.4s;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

button.submit {
  font-size: 24px;
  font-weight: 900;
  vertical-align: bottom;
  border: none;
}

button.submit:hover {
  cursor: pointer;
  background: none;
  color: white;
}

/*button:first-child {
  left: 0;
}

button:last-child {
  right: 0;
}*/

table {
  background: rgba(255, 255, 255, .3);
  border-collapse: collapse;
  border-radius: 5px;
  color: #222;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  width: 100%;

}

td {
  text-align: center;
  white-space: nowrap;
}

a {
  -webkit-transition-duration: 0.4s;
  text-decoration: none;
  color: black;
  font-family: 'Bree Serif', serif;
  background: none;
  border: none;
  font-size: 20px;
  text-align: center;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

form {
  display: inline;
}

input {
  float:center;
  width:50%;
  vertical-align: middle;
}

input.wider {
  width:90%;
}

input[type=text] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 1%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  background: none;
}

input[type=text]:hover {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input[type=text]:active {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input[type=date] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 1%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  background: none;
}

input[type=date]:hover {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input[type=date]:active {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input.navigation {
  display: none;
  border: none;
  background: none;
}

p {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}