html {
  background: url("bg_final.png") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  line-height: 1;
  margin: 2%;
}

div {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2%;
}

div.addmargin {
  margin: 10%;
  padding: 5%;
}

div.event {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
}

span.addborder {
  border: 2px black solid;
}

header {
  overflow: clear;
  position: relative;
}

h2 {
  font-family: 'Lobster', sans-serif;
  font-size: 70px;
  color: black;
  margin: 0 0 10px;
  text-align: center;
}

button {
  -webkit-transition-duration: 0.4s; /*For Safari users*/
  font-family: 'Bree Serif', serif;
  background: none;
  border: 2px black solid;
  transition-duration: 0.4s;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

button.menu {
  font-size: 24px;
}

button.navigation {
  font-size: 40px;
  border: none;
}

button.navigation:hover {
  background: none;
  color: white;
}

button.submit {
  font-size: 24px;
  font-weight: 900;
  vertical-align: bottom;
  border: none;
}

button.submit:hover {
  cursor: pointer;
  background: none;
  color: white;
}

button.agenda_request {
  font-size: 35px;
  border: none;
  transition-duration: 0.4s;
  padding: none;
  text-align: auto;
  text-decoration: none;
}

button.agenda_request:hover {
  background-color: none;
  color: white;
}

form {
  display: inline;
}

input {
  float:center;
  width:50%;
  vertical-align: middle;
}

.wider {
  width: 90%;
}

.skinnier {
  width: 30%;
}

input[type=submit] {
  -webkit-transition-duration: 0.4s; /*For Safari users*/
  transition-duration: 0.4s;
  font-family: 'Bree Serif', serif;
  font-size: 35px;
  background: none;
  border: none;
  position: absolute;
  text-align: left;
}

input[type=submit]:hover {
  color: white;
  cursor: pointer;
}

input[type=text] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 1%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  background: none;
}

input[type=text]:hover {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input[type=text]:active {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input[type=date] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 1%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  background: none;
}

input[type=date]:hover {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input[type=date]:active {
  background: rgba(255, 255, 255, .3);
  color: black;
}

input.navigation {
  font-size: 40px;
  display: none;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  color: #222;
  font-family: 'Bree Serif', serif;
  width: 100%;
  table-layout: fixed;
}

table.formData {
  border-collapse: collapse;
}

td {
  white-space: nowrap;
  font-size: 35px;
}

td.eventData {
  font-family: 'Open Sans Condensed', sans-serif;
  white-space: nowrap;
  font-size: 30px;
  line-height: 1.5;
  overflow: hidden;
}

td.squareclass:hover {
  background: rgba(255, 255, 255, .3);
}

td.borderclass {
  border: 2px solid black;
}

td.squareclass {
  width: 14%;
  position: relative;
  overflow: hidden;
  padding-bottom: 14%;]
}

td .content {
  position: absolute;
  height: 90%;
  width: 90%;
  padding: 5%;
}

a {
  -webkit-transition-duration: 0.4s;
  text-decoration: none;
  color: black;
  background: none;
  border: none;
  text-align: center;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.tableheader {
  font-family: 'Bree Serif', serif;
  font-size: 35px;
  font-weight: bold;
}

.monthheader {
  font-family: 'Bree Serif', serif;
  font-size: 35px;
}

.highlight {
  background: rgba(255, 255, 255, .4);
}

hr {
  display: block;
  margin: 5%;
  border: 1px dotted black;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}