<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="static/stylesheet.css?version=10">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Karla|Lobster|Pacifico|Open+Sans+Condensed:300" rel="stylesheet"> <!-- add Google fonts -->
        <title>OCC | About Us</title>
    </head>

    <body>
    	<div class="highlight">
    	<p>This app was made with <b>love</b> and <b>care</b> by Leon Lam (Olin College '19) and Emily Yeh (Olin College '19) for Olin's <em>Hacking the Library</em> course.</p>
    	</div>
    <div id="snowflakeContainer">
    <p class="snowflake">*</p>
	</div>
    <script src="static/fallingsnow_v6.js"></script>
    </body>
</html>