<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="static/stylesheet.css?version=12">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Marvel" rel="stylesheet"> <!-- add Google fonts -->
        <title>OCC | About</title>
    </head>

    <body>
    	<div class="highlight">
    	<h2><a href="/about.html">The Team</a></h2>

    	<p style="font-size: 20px">This app was made with <b>love</b> and <b>care</b> by Leon Lam (Olin College '19) and Emily Yeh (Olin College '19) for Olin's Spring 2017 <em>Hacking the Library</em> course. The calendar is still a work in progress, but we hope it will be improved and useful to Oliners in the future.

    	<br/><br/>

    	In terms of future work, it would be great if the following features were added to this app:

    	<br/>

    	&middot; Manually or automatically import/export events from mailing lists<br/>
    	&middot; Search database for events by time ("after 6:00", "before 23:00", etc.) <br/>
    	&middot; Search database for events by tags ("carpe", "dance", etc.)
    	</p>

    	<center><a href="/"><button class="menu">Return to Calendar</button></a>
    	</div>
    </body>
</html>