<!DOCTYPE html>
<html>

  	<head>
	    <link rel=stylesheet type=text/css href="static/stylesheet.css?version=16">
	    <link href="https://fonts.googleapis.com/css?family=Lobster|Marvel" rel="stylesheet"> <!-- add Google fonts -->
	    <title>OCC | Agenda</title>

  	</head>

  	<body>
	  	<center>
  		<div class="highlight">
	    <center>
	    <h2>Agenda View</h2><br/>

	    <a href="event_submission"><button class="menu">Submit Event</button></a>&emsp;&emsp;
	    <a href="/"><button class="menu">Return to Calendar</button></a>&emsp;&emsp;
      <a href="about.html"><button class="menu">About the Devs</button></a>
      </div>
      <div class="highlight">
         {% for event in data %}
         <!-- event tuple is (event_ID, event_name, event_taglist, event_start, event_end, event_location, event_summary, event_link) -->
          <table>
            <tr>
                <td><b>Name</b></td>
                <td><b>Date</b></td>
                <td><b>Start</b></td>
                <td><b>End</b></td>    
            </tr>
            <tr>
                <td class = "eventData">{{ event[1] }}</td> <!-- event_name -->
                <td class = "eventData">{{ event[3] }}</td> <!-- event_start. postgres timestamps are 'YYYY-MM-DD HH-MM' -->
                <td class = "eventData">{{ event[3].time() }}</td> <!-- event_start, HH-MM only -->
                <td class = "eventData">{{ event[4].time() }}</td> <!-- event_end, HH-MM only -->  
            </tr>
            <tr></tr>
            <tr>
              <td><b>Tags</b></td>
              <td><b>Location</b></td>   
              <td><b>Summary</b></td>   
              <td><b>Link</b></td>
            </tr>
            <tr>
              <td class = "eventData">{{ event[2] }}</td> <!-- event_taglist -->              
              <td class = "eventData">{{ event[5] }}</td> <!-- event_location -->
              <td class = "eventData">{{ event[6] }}</td> <!-- event_summary-->  
              <td class = "eventData">{{ event[7] }}</td> <!-- event_link -->
            </tr>
          </table>
          <hr>
        {% endfor %}
        </div></center> 
  </body>
</html>