<!DOCTYPE html>
    <head>
        <title>Event submission</title>
        <link rel=stylesheet type=text/css href="static/stylesheet.css?version=15">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Marvel" rel="stylesheet">
    </head>
    <body>
        <center>
        <div class="highlight">
            <h2><b><a href="/event_submission.html">Event Submissions</a></b></h2>
                <form method="POST" action='/event_submitted.html'>
                    <table cellpadding="5%">
                        <tr>
                            <td><center><div class="tableheader">Event Name</div></center></td>
                            <td><center><div class="tableheader">Description</div></center></td>
                        </tr>
                        <tr>
                            <td><input type = "text" class = "wider" name = "event_name" placeholder="Enter name here..."></td>
                            <td><input type = "text"  class = "wider" name = "event_summary" placeholder="Enter description here..."></td>
                        </tr></table>                     
                    <div><br/><br/><br/></div>
                    <table cellpadding="5%">
                        <tr>
                            <td><center><div class="tableheader">Start Date</div></center></td>
                            <td><center><div class="tableheader">Start Time</div></center></td>
                            <td><center><div class="tableheader">End Date</div></center></td>
                            <td><center><div class="tableheader">End Time</div></center></td>
                        </tr>
                        <tr>
                            <td><input type = "date"  class = "wider" name = "startDate" value="Start date"></td>
                            <td><input type = "text"  class = "wider" name = "startTime" value="00:00"></td>
                            <td><input type = "date"  class = "wider" name = "endDate" value="End date"></td>
                            <td><input type = "text"  class = "wider" name = "endTime" value="23:50"></td>
                        </tr>
                    </table>
                    <div><br/><br/><br/></div>
                    <table cellpadding="5%">
                        <tr>
                            <td><center><div class="tableheader">Location</div></center></td>
                            <td><center><div class="tableheader">Tags</div></center></td>
                            <td><center><div class="tableheader">Link</div></center></td>
                        </tr>
                        <tr>
                            <td><input type = "text"  class = "wider" name = "event_location" placeholder="Enter location here..."></td>
                            <td><input type = "text"  class = "wider" name = "event_taglist" placeholder="Enter tags here..."></td>
                            <td><input type = "text"  class = "wider" name = "event_link" placeholder="Enter URL here..."></td>
                        </tr>
                    </table>
                    <br/><br/>
                <input hidden type="submit" value="Submit Event"><button class="menu">Submit Event</button>
                </form>
                &emsp;
                <form action = "/" method = "GET">
                    <input hidden type = "submit"><button class="menu">Return to Calendar</button></form>
                </div></div>
                <br/><br/><br/><form action = "#" method = "POST">
                    <input hidden type = "submit" value = "DEBUG - READ CALENDAR"><button>(Temp) Debug Button</button>
                    </form></form>&emsp;
                <form action = "/wipe_everything.html" method = "POST">
                <input hidden type = "submit" value = "DEBUG - wipeEVERYTHING"><button>(Temp) Wipe EVERYTHING</button>
    </form>
        </center>
  </body>
</html>