<!DOCTYPE html>
    <head>
        <title>Success!</title>
        <link rel=stylesheet type=text/css href="static/stylesheet.css?version=77">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Karla|Lobster|Pacifico|Open+Sans+Condensed:300" rel="stylesheet">
    </head>

    <body>
        <center>
        <div class="highlight">
            <h2><b>Event Successfully Submitted!</b></h2>

        <p>{{ data }}</p>
            
        <form action = "/" method = "GET"><input hidden type = "submit"><button class="menu">Return to Calendar</button></form>&emsp;
        <form action = "/event_submission.html" method = "GET"><input hidden type = "submit"><button class="menu">Submit Another Event</button></form>
        </div>

  </body>
</html>