<!-- HTML/js code adapted from public code by Krishna Eydat -->
<!-- Authors/contributors: Leon Lam & Emily Yeh -->

<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="static/stylesheet.css?version=12">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Marvel" rel="stylesheet"> <!-- add Google fonts -->
        <title>OCC | Home</title>
    </head>

    <body>
        <center>
        <div class="highlight">
        <h2><a href="/">Olin Community Calendar</a></h2><br/>

        <!-- Buttons -->
        <a href="/event_submission.html"><button class="menu">Submit Event</button></a>
        &emsp;&emsp;
        <a href="agenda_view"><button class="menu">Agenda View</button></a>
        &emsp;&emsp;
        <a href="about.html"><button class="menu">About This App</button></a>

        <p style="font-size: 15px">Welcome to the Olin Community Calendar! Use the &laquo; &raquo; buttons to navigate between months, or enter a month and year (format: MM/YYYY) to skip to that month and year. Click on any date to view all events on that day. Submit an event using the <b>Submit Event</b> button above, or view all events from the current month using the <b>Agenda View</b> button. Lastly, learn more about this app and its developers by clicking the <b>About This App</b> button.<br/><br/>Happy calendaring!</p>


        <div id="demo"></div> <!-- Container for JS component -->

        <script language="javascript" type="text/javascript">
            var day_of_week = new Array('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
            var month_of_year = new Array('January','February','March','April','May','June','July','August','September','October','November','December');

            var Calendar = new Date();

            var year = {{ year }} // Retrieve year
            var month = {{ month }} // Retrieve month
            var today = Calendar.getDate(); // Returns current day (1-31)
            var weekday = Calendar.getDay(); // Returns current day (Sun-Sat)
            var thisyear = Calendar.getYear(); // Returns current year (-1900)
            var thismonth = Calendar.getMonth(); // Returns current year (0-11)

            var DAYS_OF_WEEK = 7; // Number of days in a week
            var DAYS_OF_MONTH = 31; // "Average" number of days in a month
            var cal; // Used for printing/creating final calendar

            // Retrieve events to be displayed on calendar
            var input = [
                {% for event in events %}
                    {day: {{ '%02d' % event[3].day }}, name: '{{ event[1] }}' },
                {% endfor %}
                {}
            ];

            // Make events iterable
            var all_events = input.reduce(function(result, value) { 
                result[value.day] = result[value.day] || []; 
                result[value.day].push({day: value.day, name: value.name});
                return result; 
                }, {});

            Calendar.setDate(1); // Start the calendar day at '1'
            Calendar.setMonth(month); // Start calendar month at retrieved month
            Calendar.setYear(year); // Start calendar year at retrieved year

            // Instance variables for formatting
            var TR_start = '<tr>';
            var TR_end = '</tr>';

            var highlight_start = '<td class="borderclass squareclass highlight"><b><div class="content">'; // For highlighting current day
            var highlight_end = '</div></b>';

            var TD_empty_start = '<td>'; // For creating empty cells
            var TD_empty_end = '</td>';

            var post_form_a = '<form method = "POST" action = "/agenda_view"><input hidden type="text" name="agenda_request" value="';
            var post_form_b = '">'
            var TD_start = '<td class="borderclass squareclass"><div class="content">'; // For creating all other cells
            var TD_end = '</div></td>';

            var event_start = '<div class="event">'; // For adding an event to a cell
            var event_end = '</div>'

            var form_a = '<form method = "POST" action = "/agenda_view.html"><input type="hidden" name="day" value="';
            var form_b = '"/><input type="submit" name="day" value="';
            var form_c = '"/></form>';


            /* Code for formatting and creating calendar */
            /* Proceed with caution!!!!!!! */

            cal = '<center><b><div class="monthheader">';
            cal += "<form method = 'POST' action = '/'><input hidden class='navigation' type='text' name='direction' value='backward'><button class='navigation' type='submit' value='submit'>&laquo;</button></form>&emsp;&emsp;";
            cal += month_of_year[month] + '   ' + year;
            cal += "&emsp;&emsp;<form method = 'POST' action = '/'><input hidden class='navigation' type='text' name='direction' value='forward'><button class='navigation' type='submit' value='submit'>&raquo;</button></form>" + '</div></b>'

            cal += '<form method = "POST" action = "/"><input class="skinnier" type = "text" name = "date" placeholder="Skip to MM/YYYY">&emsp;<input hidden type="submit"><button class="submit">Do the Doctor Who</button></form>';
            
            cal += '<table cellpadding=15' + TR_start;

            // Loops through each day of a week (Sun-Sat)
            for(index=0; index < DAYS_OF_WEEK; index++) {
                cal += TD_empty_start + '<div class="tableheader"><center>' + day_of_week[index] + '</center></div>' + TD_empty_end;
            }

            cal += TR_end;

            cal += TR_start;

            // Fill in the gaps in the calendar up to the first
            for(index=0; index < Calendar.getDay(); index++)
                cal += TD_empty_start + '  ' + TD_empty_end;

            // Loops through each day in the month
            for(index=0; index < DAYS_OF_MONTH; index++) {

                if( Calendar.getDate() > index ) {
                
                    // Returns the next day to print
                    week_day = Calendar.getDay();

                    // Start a new row for a new week
                    if(week_day == 0) cal += TR_start;

                    if(week_day != DAYS_OF_WEEK) {
                        var day  = Calendar.getDate(); // For looping purposes
                        var day_event = "<br/>";

                        if (all_events[day + '']) {
                            for (j=0; j<5; j++) {
                                if (all_events[day+''][j]) {
                                    if (all_events[day+''][j]['name'].length > 5) {
                                        day_event += all_events[day + ''][j]['name'].substring(0, 5) + "..." + "<br/>";
                                    } else {
                                        day_event += all_events[day + ''][j]['name'] + "<br/>";
                                    }
                                }
                            }
                        }

                        // Highlight current date
                        if (today==Calendar.getDate()) {
                            if ((thismonth == month) && (thisyear+1900 == year)) {
                                cal += highlight_start + form_a + day + form_b + day + form_c + event_start + day_event + event_end + highlight_end + TD_end;
                            } else {
                                cal += highlight_start + form_a + day + form_b + day + form_c + event_start + day_event + event_end + highlight_end + TD_end;
                            }
                        }
                      
                        // Print day
                        else
                        cal += TD_start + form_a + day + form_b + day + form_c + event_start + day_event + event_end + TD_end;
                        // TO DO: INSERT EVENTS AT SPECIFIED DATES
                    }

                    // Final row for final week
                    if(week_day == DAYS_OF_WEEK)
                    cal += TR_end;
                }

                // Increments until end of month
                Calendar.setDate(Calendar.getDate()+1);

            } // End for loop

            cal += '</td></tr></table></div>'; // End JS component

            // Print calendar
            document.getElementById("demo").innerHTML = cal;

            </script>
        </div>
        </center></div></center>
    </body>

</html>