<!DOCTYPE html>
    <head>
        <title>Fingers Crossed</title>
        <link rel=stylesheet type=text/css href="static/stylesheet.css?version=24">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Karla|Lobster|Pacifico|Open+Sans+Condensed:300" rel="stylesheet">
    </head>

    <body>
        <center>
        <div class="highlight"><div class="highlight">
            <h2><b>I hope this works</b></h2></div>
            <div>
        <div class="highlight">
        <p>{{ data }}</p>
        

        <form action = "/" method = "GET"><input hidden type = "submit"><button>Return to Calendar</button></form>&emsp;
        <form action = "#" method = "POST">
        <input type = "text" name="request" value="SELECT * FROM EVENTS">

        <input hidden type = "submit"><button>Do Things to Database</button></form>
        </div></div></div>

  </body>
</html>